@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hello, my name is Alexis Jackson. I am a Senior graduating in May of 2020. After I graduate I plan to move to Columbus but I am originally from Mansfield, Ohio.</p>
