@{
    ViewBag.Title = "Alexis Jackson";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    63 N Court St <br />
    Athens, OH, 45701<br />
    <abbr title="Phone">P:</abbr>
    419.631.9195.
</address>

<address>
    <strong>Personal Email:</strong>   <a href="Aj678815@gmail.com">Aj678815@gmail.com</a><br />
    <strong>Ohio University Email:</strong> <a href="Aj678815@ohio.edu">Aj678815@ohio.edu</a>
</address>