@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Alexis Jackson</h1>
    <p class="lead">Passionate MIS major with a minor in Business Analytics graduating May of 2020.</p>
    <p><a href="https://www.linkedin.com/in/ajacksonm/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>College Internship</h2>
        <p>
            This past summer was a member service intern for the Ohio University Credit Union. Throughout my internship I would open saving and checking accounts for members. My favorite part of the internship was working at the Bobcat Student Orientation and opening accounts for incoming freshmen.
        </p>
        <p><a class="btn btn-default" href="https://www.oucu.org/">Learn more &raquo;</a></p>
        @Html.ActionLink("Customers","Index","Customers")<br />
        @Html.ActionLink("Appointments","Index","Appointments")<br />
        @Html.ActionLink("Pets","Index","Pets")<br />
        @Html.ActionLink("AppointmentDetails", "Index","AppointmentDetails")<br />
    </div>
    <div class="col-md-4">
        <h2>Campus Involvement</h2>
        <p>During my time at Ohio University, I had the priviledge of holding a leadership position within the sorority Pi Beta Phi. My title in Pi Beta Phi was the Senior Member Coordinator. It was my duty to act as the primary guide for the Senior class and assist them in staying involved post graduation.  .</p>
        <p><a class="btn btn-default" href="https://www.pibetaphi.org/pibetaphi/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>College Job</h2>
        <p>As a Junior in college I became a tutor for the Academic Achievment Center in the Alden Library. Typically in the subject of business calculus I would coach one hour individual sessions.</p>
        <p><a class="btn btn-default" href="https://www.ohio.edu/uc/aac">Learn more &raquo;</a></p>
    </div>
</div>